.error{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    color: #000000;
    margin-top: 200px;
}

.error > div{
    text-align: center;
}

.error > div > h1{
    font-size: 4.4rem;
    margin-bottom: 30px;
}

.error p:nth-of-type(1) {
    margin-bottom: 20px;
}

.error p {
    font-size: 1.3rem;
}