.fade{
    animation-name: fade;
    animation-timing-function: ease-in;
    animation-duration: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}