.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 15px;
  background: #6441a5;
  background: -webkit-linear-gradient(to right, #2a0845, #6441a5);
  background: linear-gradient(to right, #2a0845, #6441a5);
  color: white;
}

.listitem a:focus {
  color: #646cff;
}

.listitem {
  list-style-type: none;
}

.listitem a {
  text-decoration: none;
  color: white;
}

.nav img {
  width: 50px;
  height: auto;
  border-radius: 50%;
  animation-name: pulsate;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
}

.cm {
  font-family: "glaze", "Times New Roman", Times, serif;
}

.logoWrapper {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 1.5rem;
}

@keyframes pulsate {
  0% {
    opacity: 0.6;
    transform: scale(1);
  }
  to {
    opacity: 1;
    transform: scale(1.1);
  }
}

.bm {
  width: 100%;
  height: 2px;
  background-color: #646cff;
  opacity: 0;
  transition: opacity 500ms ease transform 500ms ease;
}

.listitem:hover .bm {
  opacity: 1;
  transform: scale(1.2);
}

.links {
  display: flex;
  gap: 100px;
}

.items {
  position: absolute;
  display: inline-block;
  top: -50%;
  right: 20%;
}

@keyframes tilt-shake {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(5deg);
  }
  50% {
    transform: rotate(0deg);
  }
  75% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.listitem.relative {
  position: relative;
}

.listitem.relative:hover {
  animation: tilt-shake 500ms ease infinite;
}


@media (max-width:600px) {
  .links{
    flex-direction: column;
    gap: 12px;
  }

  .logoWrapper {
    gap: 15px;
    font-size: 1.5rem;
  }
}