.frame {
  position: relative;
}

.carouselButton {
  position: absolute;
  top: 50%;
  cursor: pointer;
  background: transparent;
  border: none;
  color: #6441a5;
}

.carouselButton:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.next {
  right: 0;
}

.slide {
  display: none;
}

.slide > img {
  width: 100%;
}

.slide.active {
  display: block;
}

.carousel {
  max-width: 300px;
}

.slides {
  max-width: 200px;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
 
.error{
  background-color: white;
  color: #000000;
  padding: 20px;
  border-radius: 6px;
}