.slide{
    display: none;
    min-width: 400px;
    min-height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 12px;
}

.list{
    display: flex;
}

.slide.active{
    display: block;
}

.imageCarousel{
    position: relative;
    max-width: 400px;
    margin-left: auto;
}

.listContainer img{
    width: 100%;
    height: 100%;
}

.prev, .next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    width: auto;
    transition: 0.6s ease;
    background: transparent;
    color: #646cff;
    border: none;
    outline: none;
}

.prev:hover, .next:hover{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 7px;
    border-radius: 7px;
}

.next{
    right: 0;
}

.indicator{
    cursor: pointer;
    height: 15px;
    width: 15px;
    background-color: #bbb;
    margin: 6px 0;
    border-radius: 50%;
    transition: background-color 0.6s ease;
    display: inline-block;
}

.indicators{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.indicator > button{
    background: transparent;
    border: 0;
    outline: 0;
}

.indicator.active, .indicator:hover{
    background-color: #717171;
}

.indicator{
    list-style-type: none;
}

.fade{
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from{
        opacity: 4;
    }
    to{
        opacity: 1;
    }
}

.textRed700{
    color: red;
    font-weight: 700;
    font-size: 1.2rem;
}

.error, .loading{
    padding: 15px;
    background-color: white;
    border-radius: 7px;
}

.loading{
    color: #717171;
}

@media (max-width: 600px) {
    .imageCarousel{
        margin-top: 50px;
    }

}

@media (max-width: 500px) {
    .slide{
        min-width: 300px;
        background-size: cover;
    }

}

@media (max-width: 400px) {
    .slide{
        min-width: 200px;
        background-size: contain;
    }

}
