*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


@font-face {
  font-family: "oswald";
  src: url(./assets/fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: "glaze";
  src: url(./assets/fonts/KalniaGlaze-ExtraLight.ttf);
}

:root {
  font-size: 16px;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "oswald", 'Times New Roman', Times, serif;
}

.spinner{
  height: 120px;
  width: 120px;
  border: 6px solid;
  border-color	: black transparent black transparent;
  border-radius: 50%;
  animation: spin 1.3s linear infinite;
}

@keyframes spin {
  to{
    transform: rotate(360deg);
  }
}

.error_text, .spinner{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 2.5rem;
}